---
layout: default
---

<div class="l-main wrap-min container-fluid">
    <section class="m-articles-wrapper">

        <div class="article-wrapper">

          {% for post in paginator.posts %}

          <article class="doctrine wow fadeInUp indexpage index-article">
              <div class="right-article-wr">
                  <img src="/images/{{ post.category }}-icon.png" alt="" class="article-logo">
                  <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
                  <div class="details">
                      <div class="date"><i class="fa fa-clock-o" aria-hidden="true"></i> {{ post.date | date: "%Y-%m-%d" }}</div>
                      <div class="author"><i class="fa fa-user" aria-hidden="true"></i> {{ post.author }}</div>
                      <div class="comments"><i class="fa fa-comments-o" aria-hidden="true"></i>
                          <a href="{{post.url}}#disqus_thread"></a>
                      </div>
                  </div>
              </div>
          </article>

          {% endfor %}

        </div>

        <!-- This loops through the paginated posts -->

        <div class="pagination">
          {% if paginator.previous_page %}
            <a href="{{ paginator.previous_page_path }}" class="previous">Пред</a>
          {% else %}
            <span class="previous">Пред</span>
          {% endif %}
          <span class="page_number ">Страница: {{ paginator.page }} of {{ paginator.total_pages }}</span>
          {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path }}" class="next">След</a>
          {% else %}
            <span class="next ">След</span>
          {% endif %}
        </div>

    </section>
    <aside class="m-aside">
        <div class="aside-book">
            <div class="christ">
                <a class="cover-link" href="https://slovohrista.gitbooks.io/christ-and-antichrist/content/">
                  <div class="book-cover-christ"></div>
                </a>
                <div class="aside-single-footer">
<!--                     <a class="read-btn" href="https://drive.google.com/file/d/1zHjTv_Zc9aShFKM-yx5sSoCbyLzu5PSR/view?usp=sharing">PDF</a> -->
                    <a class="read-btn" href="https://slovohrista.gitbooks.io/christ-and-antichrist/content/">Читать онлайн</a>
                    <div class="download-list">
                        <a href="https://drive.google.com/file/d/1zHjTv_Zc9aShFKM-yx5sSoCbyLzu5PSR/view?usp=sharing">PDF</a>
<!--                         <a href="https://www.gitbook.com/download/mobi/book/slovohrista/christ-and-antichrist">Mobi</a>, -->
<!--                         <a href="https://www.gitbook.com/download/epub/book/slovohrista/christ-and-antichrist">Epub</a> -->
                    </div> 
                </div>
            </div>
        </div>
        <div class="aside-search">
          <script>
            (function() {
              var cx = '013976014762099031345:tusno8vkc8e';
              var gcse = document.createElement('script');
              gcse.type = 'text/javascript';
              gcse.async = true;
              gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
              var s = document.getElementsByTagName('script')[0];
              s.parentNode.insertBefore(gcse, s);
            })();
          </script>
          <gcse:search></gcse:search>
        </div>
    </aside>
</div>
